<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.digitalbias.android"
      android:versionCode="020" android:versionName="0.3.0 beta 1">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:label="@string/app_name" android:name="BrowseScriptureActivity" android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="BrowseVolumeActivity" android:screenOrientation="sensor" />
    <activity android:name="BrowseBookActivity" android:screenOrientation="sensor" />
    <activity android:name="ReadChapterActivity" android:screenOrientation="sensor" />
    <activity android:name="DownloadDatabaseActivity" android:screenOrientation="sensor" />
	<activity android:name="SetPreferencesActivity" android:screenOrientation="sensor" />
	<activity android:name="FileList" android:screenOrientation="sensor" />
	<activity android:name="ManageBookmarksActivity" android:screenOrientation="sensor" />
</application>

</manifest> 